.container{
    margin-top: 20px;
    border: 1px solid lightgrey;
}

form{
  margin-top: 15px;
}

button{
  cursor: pointer;
}

a{
  padding: 7px;
  font-size: 1.3em;
}

form .error{
  color: red;
}
